
.resolution {
    background-color: red;
}

.content {
    border-left: none;
    border-right: none;
}

.section {
    width: 100%;
    min-width: 100%;
}

.section::before {
    content: none ;
    background: none;
    width: auto;
    display: none;
}

.section::after {
    content: none ;
    background: none;
    width: auto;
    display: none;
}

.navigation a {
    margin: 1px 0.25em 1px 0.25em;
}

.navigation a.selected {
    margin: 1px 0.25em 1px 0.25em;
}

.navigation {
    width: 100%;
    position: fixed;
    transform: translateY(calc(min(100vw / 6 * 0.8, 8em) + 0.6em));
}

h1 {   
    font-size: 3em;
}

.menu-button-container {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: min(15%, 6em);
    margin: 0.2em;
}

.menu-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    aspect-ratio: 1;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: calc(max(min(5vw, 5vh),2em));
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -30%;
  }

.menu-button::after {
    content: '';
    margin-top: 30%;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0%;
    transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background-color: rgba(255,255,255,0.0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0%;
    transform: rotate(-45deg);
}

#menu-toggle ~ .navigation {
    display: none;
}

#menu-toggle:checked ~ .navigation {
    padding: 0.2em;
    margin: 0;
    height: fit-content;
    flex-basis: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.logo {
    flex-basis: 80%;
    width: unset;
}

.container:empty {
    display: block;
    aspect-ratio: 6;
    width: 100%;
}

